:root {

// 
// Colors
// 

// Primary
--color-primary: #4d4dff;
--color-black: #101019;
--color-white: #ffffff;
--color-text: #434356;
--color-grey: #676779;
--color-background: #f7f7f8;

// Secondary colors
--color-green: #5cc38a;
--color-red: #e55758;
--color-blue: #1f9eff;
--color-yellow: #ffc60a;
--color-pink: #f473b9;
--color-orange: #ff8e3d;

// Greys
--color-grey-1: #F1F1F4;
--color-grey-2: #e9e9ec;
--color-grey-3: #c9c9cf;
--color-grey-4: #a9a9b1;
--color-grey-5: #808089;
--color-grey-6: #5e5e6e;

// blues
--color-blue-1: #f8f8ff;
--color-blue-2: #f1f1ff;
--color-blue-3: #eaeaff;
--color-blue-4: #dbdbff;
--color-blue-5: #c6c6ff;
--color-blue-6: #a2a2ff;

// 
// Fonts
// 
--text-weight-regular: 400;
--text-weight-medium: 500;
--text-weight-bold: 600;

// Header Text
--text-h-line-height: 132%;

// H1 - H6 Text
--text-h1-font-size: 32px;
--text-h2-font-size: 28px;
--text-h3-font-size: 24px;
--text-h4-font-size: 20px;
--text-h5-font-size: 18px;
--text-h6-font-size: 16px;

// Font Size
--text-p16-font-size: 16px;
--text-p14-font-size: 14px;

--text-s14-font-size: 14px;
--text-s12-font-size: 13px;
--text-s10-font-size: 11px;

// Line height
--text-p-line-height: 150%;
--text-s-line-height: 130%;

//
// Spacings
// 
--spacing-4-xs: 4px;
--spacing-3-xs: 8px;
--spacing-2-xs: 12px; 
--spacing-xs: 16px;
--spacing-s: 20px;
--spacing-m: 24px;
--spacing-l: 32px; //principal
--spacing-xl: 40px;
--spacing-2-xl: 48px;
--spacing-3-xl: 52px;
--spacing-4-xl: 64px;
--spacing-5-xl: 80px;
--spacing-6-xl: 96px;


// 
// Borders
// 
--border-grey-1: 1px solid var(--color-grey-1);
--border-grey-2: 1px solid var(--color-grey-2);

// 
// Box shadows
// 
--drop-shadow-4: 0 2px 4px rgba(0,0,0,.05);
--drop-shadow-8: 0 4px 8px rgba(0,0,0,.05);

// 
// Border Radius
// 
--border-radius-xs: 4px;
--border-radius-s: 8px;
--border-radius-m: 12px;
--border-radius-l: 16px;

}